h1{
    text-align: center;
    color: black;
}
.btn{
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    font-size: larger;
    text-decoration: none;

}
.table td, .table th {
    border: 1px solid #9b9999;
    padding: 8px;
    text-align: center;
    width: 500px;
    height: 50px;
    background-color: rgb(221, 213, 213);
    
  }
.table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
    text-align: center;
    font-size: x-large;
}
 
  .container{
    max-width: 1000px;
    max-height: 2000px;
    height: fit-content;
    margin-left: 15%;
    font-size: large;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .table{
    margin-top: 4%;
  }
  button{
    background-color: #e7e7e7; 
    color: black;
    width: 50%;
    height: 50%;
    border-radius: 12px
  }

